.main-container {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333333;
}

input[type="email"],
input[type="password"],
input[type="file"],
button {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    width: 90%;
    margin-bottom: 10px;

}

#name {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    width: 90%;
    margin-bottom: 10px;
}

button {
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-left: 10px;
}

button:hover {
    background-color: darkgray;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight:200;
}

a:hover {
    text-decoration: underline;
}

.register-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-page {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    height: 100vh;
}

.todo-container {
    max-width: 50%;
    margin: 20px auto;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app-title {
    text-align: center;
    padding-left: 50px;
    color: #11273f;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-section {
    text-align: right;
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    /* margin-right: 20px; */
    /* margin-left: 50px; */
}

.top-section div {
    display: flex;
    gap: 10px;
}

.top-section h1 {
    margin-left: 20px;
    color: #11273f;
}

.logout-btn {
    /* padding: 5px; */
    border-radius: 15px;
    border: none;
    background:transparent;
    font-size: 20px;
    color: #11273f;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: 15%; */
}

.logout-btn:hover {
    color: #007bff;
    text-decoration: none;
}

/* .user-profile {
    text-align: center;
    margin-top: 20px;
} */

.username {
    color: #11273f;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 20px;
    /* line-height: 28px; */
    
}

.profile-image {
    border-radius: 9999px;
    border:none;
    /* Blue border */
    margin-top: 5px;
    width: 60px;
    height: 60px;
}

.add-todo {
    margin-top: 20px;
}

.todo-form {
    align-items: center;
}

.todo-input {
    padding: 19px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.add-btn {
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    /* Blue add button */
    color: white;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #0056b3;
}


/* Card Styling */
.card {
    background-color: #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  /* Card Body */
  .card-body {
    /* border-bottom: 1px solid #ccc; */
    /* padding-bottom: 10px; */
    /* margin-bottom: 10px; */
    color: rgb(86, 85, 85);
    font-size: 20px;
    text-decoration: underline;
  }
  
  .card-body span {
    font-weight:500;
  }
  
  /* Card Buttons */
  .card-btn {
    display: flex;
    justify-content:space-between;

  }
  
  .card-btn button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #7d7979;
    transition: color 0.3s ease;
    padding: 5px;
  }
  
  .card-btn button:hover {
    color: #f44336;
  }
  
  

/* styles.css */

.google-icon-wrapper {
    /* display: flex; */
    background-color: #fef7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.google-icon {
    width: 18px;
    height: 18px;
}

#google-btn {
    background: transparent;
    padding: 10px;
    margin: 0;
    color: #605353;
    border: none;
    font-size: 16px;
    cursor: pointer;

}
.google-icon-wrapper img{
    margin-right: 10px;
}
#github-btn{
    background: transparent;
    padding: 10px;
    margin: 0;
    color: #605353;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.github-icon{
    width: 20px;
    height: 20px;
}